/* ------------------------------------------
   VÆRQ – GLOBALE VARIABLER
------------------------------------------- */

$blue-color: #C7B8A4;
$green-color: #b3bfb6;
$red-color: #FF5F1F;
$second-red-color: #f36e50;
$light-color: #11263F;

// Evt. også:
$font-body: "DM Sans", system-ui, -apple-system, sans-serif;