/* ------------------------------------------
   VÆRQ – GLOBALE VARIABLER
------------------------------------------- */

$blue-color: #7c87a7;
$green-color: #b3bfb6;
$red-color: #f8592c;
$second-red-color: #f36e50;
$light-color: #f7edec;

// Evt. også:
$font-body: "DM Sans", system-ui, -apple-system, sans-serif;
