/* ------------------------------------------
   VÆRQ – GLOBALE VARIABLER
------------------------------------------- */

$blue-color: 	#F2E5D5;
$green-color: #b3bfb6;
$red-color: #FF8000;
$second-red-color: #FF8000 ;
$light-color: #11263F;

// Evt. også:
$font-body: "DM Sans", system-ui, -apple-system, sans-serif;
