/* ------------------------------------------
   VÆRQ – GLOBALE VARIABLER
------------------------------------------- */

$blue-color: 	#efdecb;
$green-color: #b3bfb6;
$red-color: #f8592c;
$second-red-color: #f36e50;
$light-color: #11263F;

// Evt. også:
$font-body: "DM Sans", system-ui, -apple-system, sans-serif;
