/* ------------------------------------------
   VÆRQ – GLOBALE VARIABLER
------------------------------------------- */

$blue-color: 	#fdf5e6;
$green-color: #b3bfb6;
$red-color: #FF5F1F;
$second-red-color: #f36e50;
$light-color: black;

// Evt. også:
$font-body: "DM Sans", system-ui, -apple-system, sans-serif;