@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap");
@import "./variables";

body {
  background-color: $blue-color;
  font-family: $font-body;
  letter-spacing: 0.3px;
  color: $light-color;
}

.appContainer {
  background-size: cover;
  background-blend-mode: lighten;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
